body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.btn {
  font-size: 15px;
  box-shadow: 3px 4px 0 1px;
  border: 3px solid;
  padding: 0;
}

.score-section {
  width: 40%;
}

.score-table {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
}

.score-table:nth-child(even) {
  background: #fff;
}

.score-table:nth-child(odd) {
  background: lightgray;
}

.input-section {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  margin-bottom: 20px;
}

.submit-btn {
  display: flex;
  justify-content: end;
}
