body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  padding-left: 35%;
}

h2 {
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 20px;
  padding: 30px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 32px;
  background: #854ebc;
  box-shadow:
    20px 20px 29px #663c91,
    -20px -20px 29px #a460e7;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.btn {
  font-size: 15px;
  box-shadow: 3px 4px 0 1px;
  border: 3px solid;
  padding: 2px 10px;
}

.score-section {
  width: 40%;
}

.scores {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores:nth-child(even) {
  background: #fff;
}

.scores:nth-child(odd) {
  background: lightgray;
}

.input-section {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  margin-bottom: 20px;
}

.submit-btn {
  display: flex;
  justify-content: end;
}

.name {
  padding-left: 40px;
}

.score {
  padding-right: 40px;
}
